/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');

/* custom template */
html, body {
  height: 100%;
  font-family:'Open Sans',arial,sans-serif;
  background-color: #444;
}

a {
  color:#222222;
}

.wrapper, .row {
  height: 100%;
  margin-left:0;
  margin-right:0;
  background-color: #222;
}

.title {
  color: #324344;
  font-size: 55px;
  background-color: #777;
}

.footer {
  color: #fff;
}
